@import url(lib/normalize.css);
@import url(core/fonts.css);
@import url(core/core.css);
@import url(../modules/footer/footer.css);

@keyframes e404-logo {
	from { transform: scale(0.0); }
	to   { transform: scale(1.0); }
}

@keyframes e404-text {
	from {
		bottom: 60px;
		opacity: 0;
	}
	to  {
		bottom: -48px;
		opacity: 1;
	}
}

.e404__logo {
	animation: 'e404-logo' 0.5s ease-out 0.5s backwards;
}

.header__text {
	text-align: center;
	line-height: 1.5;
	animation: 'e404-text' 0.5s ease-out 1s backwards;
}
