/**
 * RESET
 */
html {
	height: 100%;
}
html,
body {
	height: 100%;
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, form, fieldset, dd {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/**
 * LAYOUT
 */
.container {
	width: 100%;
	height: 100%;
}
.header {
	display: flex;
	height: 100%;
	/* Vertical align */
	align-items: center;
	justify-content: center;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	-moz-transition   : height 0.25s ease-out;
	-webkit-transition: height 0.25s ease-out;
	transition        : height 0.25s ease-out;
}
	.footer ul {
		padding: 3px 0;
	}
		.footer__item {
			display: inline-block;
			height: 24px;
			padding: 2px 0;
			list-style: none;
			font-size: 14px;
			line-height: 20px;
		}
		.footer__item.group-icons {
			padding-right: 6px;
		}
		.footer__item:last-child {
			padding-right: 0;
		}
		.footer__job {
			display: none;
		}
	.footer__anim {
		height: 34px !important;
	}
/* .message {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
}
	.message__text {
		display: inline-block;
		padding: 0.3em 0.6em;
		font-size: 14px;
		color: #FFF;
		border: 1px solid #fff;
		border-radius: 2px;
	} */

/**
 * COMMON
 */
/* CSS sprites */
.sprite {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-indent: -999em;
	background-image: url(/img/web-sprites-v4.png);
	background-repeat: no-repeat;
}
.icon-linkedin { background-position: 0 -24px; }
.icon-twitter  { background-position: -24px -24px; }
.icon-rss      { background-position: -48px 0; }
.icon-blog     { background-position: -48px -24px; }
.icon-close    { background-position: -24px 0; }
.icon-github   { background-position: 0 0; }

/**
 * CSS3 animation timeline
 */
/* Home logo */
@-webkit-keyframes home__logo {
	from { opacity: 0; top: 40px; }
	to   { opacity: 1; top: 0; }
}
@-moz-keyframes home__logo {
	from { opacity: 0; top: 40px; }
	to   { opacity: 1; top: 0; }
}
@keyframes home__logo {
	from { opacity: 0; top: 40px; }
	to   { opacity: 1; top: 0; }
}
/* 404 logo */
@-webkit-keyframes e404__logo {
	from { -webkit-transform: scale(0.0); }
	to   { -webkit-transform: scale(1.0); }
}
@-moz-keyframes e404__logo {
	from { -moz-transform: scale(0.0); }
	to   { -moz-transform: scale(1.0); }
}
@keyframes e404__logo {
	from { transform: scale(0.0); }
	to   { transform: scale(1.0); }
}

/**
 * SECTION: Home
 */
.home__logo {
	position: relative;
	cursor: pointer;
	-webkit-animation: home__logo 1.5s;
	   -moz-animation: home__logo 1.5s;
	        animation: home__logo 1.5s;
	-webkit-transition: -webkit-transform 0.2s ease;
	   -moz-transition:    -moz-transform 0.2s ease;
			transition:         transform 0.2s ease;
}
	.home__logo:active {
			-webkit-transform: scale(0.9, 0.9);
			   -moz-transform: scale(0.9, 0.9);
				-ms-transform: scale(0.9, 0.9);
					transform: scale(0.9, 0.9);
	}

/**
 * SECTION: 404
 */
.e404__logo {
	position: relative;
	-webkit-animation: e404__logo 0.5s ease-out;
	   -moz-animation: e404__logo 0.5s ease-out;
		    animation: e404__logo 0.5s ease-out;
}
.e404__hello {
	position: relative;
	width: 200px;
	padding-bottom: 25px;
	text-align: left;
}
	.e404__hello-text {
		position: absolute;
		top: 60px;
		left: 0;
		opacity: 0;
		-webkit-transform: skew(0,-26deg);
		   -moz-transform: skew(0,-26deg);
		    -ms-transform: skew(0,-26deg);
		        transform: skew(0,-26deg);
	}
	.e404__anim .e404__hello-text {
		top: 0px;
		opacity: 1;
		-webkit-transition: all 0.5s ease-out;
		   -moz-transition: all 0.5s ease-out;
		        transition: all 0.5s ease-out;
	}

/**
 * EXTRA: Canvas bg animation
 */
.bgcanvas {
	position: fixed;
	display: block;
}
.container {
	position: relative;
}

/**
 * Media quieries
 */
@media only screen and (min-width: 600px) {
	.footer__job {
		display: inline-block;
	}
}
