@keyframes footer {
	from { height: 0; }
	to   { height: 64px; }
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	animation: footer 0.5s ease-out 2.5s backwards;
}
	.footer ul {
		padding: 3px 0;
	}
		.footer__item {
			display: inline-block;
			height: 24px;
			padding: 2px 0;
			list-style: none;
			font-size: 14px;
			line-height: 20px;
		}
		.footer__item.group-icons {
			padding-right: 6px;
		}
		.footer__item:last-child {
			padding-right: 0;
		}
		.footer__job {
			display: none;
		}

.sprite {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-indent: -999em;
	background-image: url(/img/web-sprites-v4.png);
	background-repeat: no-repeat;
}
.icon-linkedin { background-position: 0 -24px; }
.icon-twitter  { background-position: -24px -24px; }
.icon-rss      { background-position: -48px 0; }
.icon-blog     { background-position: -48px -24px; }
.icon-close    { background-position: -24px 0; }
.icon-github   { background-position: 0 0; }

@media only screen and (min-width: 600px) {
	.footer__job {
		display: inline-block;
	}
}
